---
import SkillCard from "./SkillCard.astro";
---

<div class="skill-card">
  <SkillCard
    name="HTML"
    description="HTML"
    icon="skill-icons:html"
    experience={3}
    level={6}
    interest={4}
  />
</div>
